<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/bookaband_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookABand"
        tools:targetApi="31">
        <activity
            android:name=".RequestDetailsBand"
            android:exported="false" />
        <activity
            android:name=".EditRequest"
            android:exported="false" />
        <activity
            android:name=".RequestDetailsUser"
            android:exported="false" />
        <activity
            android:name=".EditUser"
            android:exported="false" />
        <activity
            android:name=".EditBand"
            android:exported="false" />
        <activity
            android:name=".MyBookingsBand"
            android:exported="false" />
        <activity
            android:name=".MyBookingsActivity"
            android:exported="false" />
        <activity
            android:name=".LoginUser"
            android:exported="false" />
        <activity
            android:name=".CreateUser"
            android:exported="false" />
        <activity
            android:name=".UserDashboard"
            android:exported="false" />
        <activity
            android:name=".BandDashboard"
            android:exported="false" />
        <activity
            android:name=".BandList"
            android:exported="false" />
        <activity
            android:name=".BandDetails"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".CreateBand"
            android:exported="false" />
        <activity
            android:name=".AccountType"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Landing"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
    </application>

</manifest>